**/.classpath
**/docker-compose.yml
**/Dockerfile
**/node_modules
**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.git
**/.idea
**/bin/Debug
**/bin/Release
**/obj/Debug
**/obj/Release
*.md
*.gitignore
*.dockerignore
*.sln
Dockerfile
docker-compose.yml
.dockerignore